body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body>.container-fluid {
    flex: 1 0 auto;
}

.module-page {
    padding: 6px 6px;
    min-width: 0;
}

.strategies-main {
    max-height: calc(100vh - 32px);
    overflow: auto;
}